prometheus:
  prometheusSpec:
    routePrefix: "/prometheus"
    externalUrl: "http://192.168.56.240/prometheus/"
grafana:
  grafana.ini:
    server:
      root_url: http://192.168.56.240/grafana/
      serve_from_sub_path: true
