service:
  type: LoadBalancer
ingress-controller:
  enabled: true
  config:
    apisix:
      serviceNamespace: ingress-apisix
      adminAPIVersion: v3
apisix:
  plugins: {openid-connect}
apisix:
  ssl:
    enabled: true
etcd:
  persistence:
    size: 3Gi
